In [1]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in /Users/tanaporn/anaconda3/lib/python3.11/site-packages (2.9.9)

In [2]:
import psycopg2

In [4]:
try:
    conn = psycopg2.connect('host=127.0.0.1 dbname=postgres user=postgres password=Tana100745')
except psycopg2.Error as e: 
    print ('Error : Could not make connection to the Postgress Database')
    print(e)

In [5]:
try: 
    cur = conn.cursor()
except psycopg2.Error as e:
    print('Error: Could not get curser to the Database')
    print(e)

In [6]:
conn.set_session(autocommit=True)

In [8]:
#create a database to do the work in

In [9]:
try:
    cur.execute('create database TanaDB')
except psycopg2.Error as e:
    print(e)

database "tanadb" already exists

In [12]:
try:
    conn.close()
except psycopg2.Error as e:
    print(e)

try: 
    conn = psycopg2.connect('host=127.0.0.1 dbname=tanadb user=postgres password=Tana100745')
except psycopg2.Error as e:
    print('Error: Could not make connection to the Postgres database')
    print(e)
    
try: 
    cur = conn.cursor()
except psycopg2.Error as e:
    print('Error: could not get curser to Database')
    print(e)
    
conn.set_session(autocommit = True)

In [13]:
# creat table for student which include columns: student_id, name, age, gender, subject,marks

In [14]:
try: 
    cur.execute('CREATE TABLE IF NOT EXISTS students (student_id int, name varchar, \
    age int, gender varchar, subject varchar, marks int);')
except psycopg2.Error as e:
    print('Error: Issue creating table')
    print(e)

In [16]:
# \c tanadb
#You are now connected to database "tanadb" as user "postgres".
#tanadb-# \dt  (show all table in the current schema)
#          List of relations
# Schema |   Name   | Type  |  Owner   
#--------+----------+-------+----------
# public | students | table | postgres
#(1 row)

In [18]:
try:
    cur.execute('INSERT INTO students(student_id, name, age, gender, subject, marks)\
                VALUES(%s, %s, %s, %s, %s, %s)' ,\
                (1, "Raj", 23, "Male", "Python", 85))
except psycopg2.Error as e:
                print('Error: Inserting Rows')
                print(e)
                
try:
    cur.execute('INSERT INTO students(student_id, name, age, gender, subject, marks)\
                VALUES(%s, %s, %s, %s, %s, %s)' ,\
                (2, "Priya", 22, "Female", "Python", 86))
except psycopg2.Error as e:
                print('Error: Inserting Rows')
                print(e)

In [20]:
try: 
    cur.execute('SELECT * FROM students;')
except psycopg2.Error as e:
    print('Error: select *')
    print(e)

    
row = cur.fetchone()
if row:
    while row:
        print(row)
        row = cur.fetchone()
else:
    print("No results to fetch.")

(1, 'Raj', 23, 'Male', 'Python', 85)
(2, 'Priya', 22, 'Female', 'Python', 86)

In [21]:
cur.close()
conn.close()