In [1]:
import psycopg2
import pandas as pd

In [49]:
def create_database():
    #connect to default database
    #conn = psycopg2.connect('host =127.0.0.1 dbname=postgres user=postgres password=student')
    conn = psycopg2.connect('host = 127.0.0.1 dbname=postgres user=postgres password=Tana100745')
    conn.set_session(autocommit=True)
    cur = conn.cursor()
    
    #create sparkify database with UTF8 encoding
    cur.execute('DROP DATABASE accounts')
    cur.execute('CREATE DATABASE accounts')
    
    #close connection to default database
    conn.close()
    
    #connect to sparkify database
    conn = psycopg2.connect('host=127.0.0.1 dbname=accounts user=postgres password=Tana100745')
    cur = conn.cursor()
    
    return cur, conn

In [50]:
def drop_tables(cur, conn):
    for query in drop_table_quries:
        cur.execute(query)
        conn.commit()

In [51]:
def create_tables(cur, conn):
    for query in create_table_quries:
        cur.execute(query)
        conn.commit()

In [52]:
ShoppingBehave = pd.read_csv('data/shopping_behavior_updated.csv')

In [53]:
ShoppingBehave.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [54]:
ShoppingBehave.columns

Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Shipping Type',
       'Discount Applied', 'Promo Code Used', 'Previous Purchases',
       'Payment Method', 'Frequency of Purchases'],
      dtype='object')

In [109]:
customer_data = ShoppingBehave[['Customer ID','Gender','Frequency of Purchases','Subscription Status',  'Age']]

In [110]:
product_data = ShoppingBehave[['Item Purchased','Category','Color', 'Size', 'Season', 'Review Rating']]

In [111]:
purchase_data = ShoppingBehave[['Customer ID','Item Purchased','Purchase Amount (USD)','Location']]

In [55]:
cur, conn = create_database()

ObjectInUse: database "accounts" is being accessed by other users
DETAIL:  There are 2 other sessions using the database.

In [77]:
customer_table_create = ("""CREATE TABLE IF NOT EXISTS customer(
    customer_id VARCHAR PRIMARY KEY,
    gender VARCHAR,
    freq_purchases VARCHAR,
    sup_status VARCHAR
    )""")

In [78]:
cur.execute(customer_table_create)
conn.commit()

In [76]:
conn.rollback()

In [62]:
conn = psycopg2.connect('host=127.0.0.1 dbname=accounts user=postgres password=Tana100745')
cur = conn.cursor()

In [74]:
customer_table_create = """CREATE TABLE IF NOT EXISTS customer(
    customer_id VARCHAR PRIMARY KEY,
    gender VARCHAR,
    freq_purchases VARCHAR,
    sup_status VARCHAR
)"""

In [68]:
cur.execute(customer_table_create)
conn.commit()

In [65]:
product_table_create = """CREATE TABLE IF NOT EXISTS product(
    item_purchases VARCHAR PRIMARY KEY, 
    category VARCHAR,
    color VARCHAR,
    size VARCHAR,
    season VARCHAR,
    review_rating VARCHAR
    )"""
cur.execute(product_table_create)
conn.commit()

In [66]:
purchase_table_create = """CREATE TABLE IF NOT EXISTS purchase(
    purchases_ID VARCHAR PRIMARY KEY,
    customer_ID VARCHAR,
    item_purchases VARCHAR,
    purchases_amount VARCHAR,
    location VARCHAR
    )"""
cur.execute(purchase_table_create)
conn.commit()

In [80]:
add_age_column_query = """
ALTER TABLE customer
ADD COLUMN age INTEGER;
"""

In [81]:
cur.execute(add_age_column_query)
conn.commit()

In [82]:
drop_old_table_query = "DROP TABLE IF EXISTS purchase"
cur.execute(drop_old_table_query)
conn.commit()

In [83]:
purchase_table_create = """CREATE TABLE IF NOT EXISTS purchase(
    purchases_ID SERIAL PRIMARY KEY,
    customer_ID VARCHAR,
    item_purchases VARCHAR,
    purchases_amount VARCHAR,
    location VARCHAR
    )"""
cur.execute(purchase_table_create)
conn.commit()

In [86]:
customer_table_insert = """INSERT INTO customer(
    customer_id,
    gender,
    freq_purchases,
    sup_status,
    age)
    VALUES(%s,%s,%s,%s,%s)
    """

In [90]:
drop_customer_query = "DROP TABLE IF EXISTS customer"
cur.execute(drop_customer_query)
conn.commit()

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [88]:
customer_table_create = """CREATE TABLE IF NOT EXISTS customer(
    customer_id VARCHAR PRIMARY KEY,
    gender VARCHAR,
    freq_purchases VARCHAR,
    sup_status VARCHAR
    age VARCHAR
)"""

In [91]:
conn.rollback()

In [92]:
# Drop the table 'customer'
drop_customer_query = "DROP TABLE IF EXISTS customer"
cur.execute(drop_customer_query)
conn.commit()

In [95]:
customer_table_create = """CREATE TABLE IF NOT EXISTS customer(
    customer_id VARCHAR PRIMARY KEY,
    gender VARCHAR,
    freq_purchases VARCHAR,
    sup_status VARCHAR,
    age VARCHAR
)"""

In [96]:
cur.execute(customer_table_create)
conn.commit()

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [97]:
conn.rollback()

In [98]:
customer_table_create = """CREATE TABLE IF NOT EXISTS customer(
    customer_id VARCHAR PRIMARY KEY,
    gender VARCHAR,
    freq_purchases VARCHAR,
    sup_status VARCHAR,
    age VARCHAR
)"""
cur.execute(customer_table_create)
conn.commit()

In [99]:
for i, row in customer_data.iterrows():
    cur.execute(customer_table_insert,list(row))

In [100]:
product_table_insert = """INSERT INTO product(
    item_purchases, 
    category,
    color,
    size,
    season,
    review_rating)
    VALUES (%s,%s,%s,%s,%s,%s)
    """

In [103]:
conn.rollback()

In [104]:
drop_product_query = "DROP TABLE IF EXISTS product"
cur.execute(drop_product_query)
conn.commit()

In [107]:
conn.rollback()

In [108]:
product_table_create = """CREATE TABLE IF NOT EXISTS product(
    purchases_ID SERIAL PRIMARY KEY,
    item_purchases VARCHAR, 
    category VARCHAR,
    color VARCHAR,
    size VARCHAR,
    season VARCHAR,
    review_rating VARCHAR
    )"""
cur.execute(product_table_create)
conn.commit()

In [ ]:
product_table_insert = """INSERT INTO product(
    item_purchases, 
    category,
    color,
    size,
    season,
    review_rating)
    VALUES (%s,%s,%s,%s,%s,%s)
    """

In [112]:
customer_data.head()

   Customer ID Gender Frequency of Purchases Subscription Status  Age
0            1   Male            Fortnightly                 Yes   55
1            2   Male            Fortnightly                 Yes   19
2            3   Male                 Weekly                 Yes   50
3            4   Male                 Weekly                 Yes   21
4            5   Male               Annually                 Yes   45

In [113]:
product_data.head()

  Item Purchased  Category      Color Size  Season  Review Rating
0         Blouse  Clothing       Gray    L  Winter            3.1
1        Sweater  Clothing     Maroon    L  Winter            3.1
2          Jeans  Clothing     Maroon    S  Spring            3.1
3        Sandals  Footwear     Maroon    M  Spring            3.5
4         Blouse  Clothing  Turquoise    M  Spring            2.7

In [114]:
purchase_data.head()

   Customer ID Item Purchased  Purchase Amount (USD)       Location
0            1         Blouse                     53       Kentucky
1            2        Sweater                     64          Maine
2            3          Jeans                     73  Massachusetts
3            4        Sandals                     90   Rhode Island
4            5         Blouse                     49         Oregon

In [115]:
customer_table_insert = """INSERT INTO customer(
    customer_id,
    gender,
    freq_purchases,
    sup_status,
    age)
    VALUES(%s,%s,%s,%s,%s)
    """

In [116]:
for i, row in customer_data.iterrows():
    cur.execute(customer_table_insert,list(row))

In [117]:
conn.commit()

In [118]:
product_table_insert = """INSERT INTO product(
    item_purchases, 
    category,
    color,
    size,
    season,
    review_rating)
    VALUES (%s,%s,%s,%s,%s,%s)
    """

In [119]:
for i, row in product_data.iterrows():
    cur.execute(product_table_insert,list(row))

In [120]:
conn.commit()

In [121]:
purchase_table_insert = """INSERT INTO purchase(
    customer_ID,
    item_purchases,
    purchases_amount,
    location)
    VALUES (%s,%s,%s,%s)
    """

In [124]:
conn.rollback()

In [126]:
purchase_table_insert = """
    INSERT INTO purchase (customer_ID, item_purchases, purchases_amount, location)
    VALUES (%s, %s, %s, %s)
"""

In [127]:
for i, row in purchase_data.iterrows():
    # Extract the specific columns you need from the DataFrame
    data = (row['Customer ID'], row['Item Purchased'], row['Purchase Amount (USD)'], row['Location'])
    cur.execute(purchase_table_insert, data)

In [128]:
conn.commit()